.patient_info{
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  h3{
    text-align: center;
  }

  .icon{
    padding: 0 5px;
  }
  p{
    margin: 0;
    width: fit-content;
  }
  &_name{
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;

    &:hover{
      color: $BlueIcs;
    }
  }

  &_line2{
    display:flex;
    justify-content: left;
    align-self: center;
    max-height: fit-content;
    transition: all 0.4s;
    width: 100%;
    .title{
      padding-bottom: 4px;
      font-weight: 600;
      color: rgba(74,85,104, 1);
      font-size: 14px;
    }
    .value{
      padding-bottom: 4px;
      font-size: 14px;
    }
  }

  &_line{
    display:flex;
    justify-content: left;
    align-self: center;
    max-height: fit-content;
    transition: all 0.4s;
    width: 100%;
    
    .title{
      padding-bottom: 4px;
      font-weight: 600;
      color: rgba(74,85,104, 1);
      font-size: 14px;
    }
    .value{
      padding-bottom: 4px;
      font-size: 14px;
    }

    @include breakpoint-down(medium){
      align-self: flex-start;
      min-width: auto;
      flex-direction: column;
      .title, .value{
        padding: 0 0 4px 20px;
      }
      
    }

    &_button{
      background-color: white;
      border: 0;
      padding-top: 4px;
      align-self: flex-start;
      transition: all 0.5s ease-in-out;

      &.active{
        transform: rotateX(180deg);
      }
    }
    
  }
  &_extra{
    color: black;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 20px;
    visibility: hidden;
    &.active{
      visibility: visible;
      max-height: 200px;
      @include breakpoint-down(medium){
        max-height: 340px;
      }
      opacity: 1;
    }
    .title{
      padding: 0 5px 4px 20px;
    }
    
    
  }
  
}

.patient_ai{
  &_title{
    border-bottom: 1px solid $BlueIcs;
    margin: 0;
    padding: 10px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      &:hover{
        background-color: $BlueIcsLight;
      }
    }
    p{
      margin: 0;
    }
  }
  &_container{
    padding: 10px 20px;
    &_item{
      display: flex;
      align-items: center;
      .icon{
        height: 30px;
        width: 30px;
        color: $navyBlueLight;
      }
      .title{
        padding: 0 10px 0 20px;
      }
    }
  }
  &_button{
    padding: 10px;
    padding-top: 0;
  }
}

.patient_ai_panel{
  background-color: $BlueIcsLight2;
  height: 100%;
  width: 100%;
  padding: 10px;
  &_container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;

    
    .patient_ai_table{
      margin: 20px;
      display: grid;
      overflow-x: auto;
      &.hide-for-mobile{
        @include breakpoint-down(medium){
            display:none;
        }
      }
      &.hide-for-desktop{
        @include breakpoint-up(medium){
            display:none;
        }
      }

      &_row{
        display: flex;
      }

      .values{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 3px 10px;
        text-align: center;
        width: 106px;
        background-color: $BlueIcsLight2;
        border: 1px solid white;
        min-height: 35px;
      }

      .fixed.title{
        display: flex;
        align-items: center;
        background-color: $navyBlue;
        width: 228px;
        color: white;
        left: 0;
        z-index: 1;
        position: sticky; 
        padding-left: 20px;
        box-sizing: border-box;
        min-height: 35px;
      }

      .fixed_names {
        display: flex;
        align-items: center;
        background-color: $BlueIcs;
        position: sticky; 
        width: 228px;
        left: 0;
        z-index: 1;
        border: 1px solid white;
        padding-left: 20px;
        box-sizing: border-box;
        min-height: 35px;
      }

      .dates {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 3px 10px;
        text-align: center;
        width: 106px;
        background-color: $BlueIcs;
        border: 1px solid white;
        min-height: 35px;
      }

      .currentDate{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: $navyBlue;
        color: white;
        padding: 3px 10px;
        text-align: center;
        position: sticky;
        width: 126px;
        right: 0;
        z-index: 1;
        min-height: 35px;
      }

      .fixed_values{
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        width: 126px;
        z-index: 1;
        background-color: $BlueIcs;
        border: 1px solid white;
        text-align: center;
        min-height: 35px;
      }
    }
  }
}

.documents{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  &_container{
    height: 100%;
    width: 100%;
    border: 1px solid $navyBlue;
    border-radius: 10px;

    &_table{
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: start;
      height: 90%
    }
    

  }
}

.panel{
  width: 90%;
  height: 90%;
  overflow-y: auto;
  @include breakpoint-down(medium){
    max-height: 146px;
  }
}

.prescriptions{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  &_container{
    height: 100%;
    width: 100%;
    border: 1px solid $navyBlue;
    border-radius: 10px;
    box-sizing: border-box;

    &_info{
      display: flex;
      align-items: center;
      padding: 30px;
      border-bottom: 1px solid $navyBlue;
      height: 10%;
      box-sizing: border-box;
      
      

      &_title{
        font-weight: 700;
        padding: 0 10px;
        font-size: 1.125em;
      }
    }

    &_button{
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      .capsules_button{
        color: green;
        background-color: $BlueIcs;
        border: 1px solid $navyBlueLight;
        border-radius: 3px;
        .icon{
          height: 25px;
          width: 25px;
          &:hover{
            color: $RedError;
          }
        }
      }
    }

    &_table{
      margin: 0 20px;
      max-height: calc(100% - 200px);
      overflow-y: auto;
      overflow-x: auto;
      .table{
        display: grid;
        grid-auto-rows: min-content;
  
        .table_row{
          display: flex;
          justify-content: center;
          
  
          &_title{
            padding: 10px;
            background-color: $navyBlueLight;
            color: white;
            border: 1px solid $navyBlueLight;
            display: flex;
            align-items: center;

            &.name{
              width: 300px;
            }
  
            &.component{
              width: 110px;
            }
  
            &.frecuencia{
              width: 80px;
            }
  
            &.duracion{
              width: 70px;
            }

            &.delete{
              width: 20px;
            }
          }
          &_values{
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: $BlueIcsLight2;
            border: 1px solid $BlueIcs;
            border-top: 0;
            font-size: 12px;

            &:not(:last-child){
              border-right: 1px solid $BlueIcsLight2;
            }

            
  
            &.name{
              width: 300px;
            }
  
            &.component{
              width: 110px;
            }
  
            &.frecuencia{
              width: 80px;
            }
  
            &.duracion{
              width: 70px;
            }

            &.alert{
              color: $RedError;
            }

            &.delete{
              width: 20px;
              button{
                background-color: $BlueIcsLight2;
                border: 0;
                &:hover{
                  color: $RedError;
                }
              }
            }
          }
        }
      }
    }
    

  }
}

.addPrescription{
  height: calc(100%);
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;

  border: 1px solid $navyBlueLight;
  border-radius: 10px;
  background-color: $BlueIcsLight2;
  &_container{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    @include breakpoint-down(medium){
      flex-direction: column;
    }
    

    &_left{
      height: 100%;
      flex: 1;
      border-right: 1px solid $navyBlueLight;
      padding-top: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      @include breakpoint-down(medium){
        border: 0;
      }

      .error{
        align-self: center;
        width: calc(100% - 20px);
        box-sizing: border-box;
      }


      .seccion{
        margin: 10px;
        min-width: 200px;
        border: 1px solid $BlueIcs;
        position: relative;
        padding: 20px 0;

        .instruccions{
          display: flex;
          align-items: center;

          textarea{
            height: 30px;
            margin-right: 0;
            padding: 5px;
          }

          button{
            height: 25px;
            margin: 0 5px;
            color: $LightBlack;
            background-color: $BlueIcsLight;
            border: 1px solid $navyBlueLight;
            border-radius: 3px;
            .icon{
              height: 15px;
              width: 15px;
              &:hover{
                color: $navyBlue;
              }
            }
          }
        }

        .search{
          height: fit-content;
          min-height: 25px;
          width: 90%;
          background-color: white;
          margin: 5px 20px;
          border: 1px solid $BlackLight2;
          padding-left: 10px;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include breakpoint-down(medium){
            width: 80%;
          }
          
          .search_button, .delete_prescription_button{
            background-color: white;
            border: 0;
            cursor: pointer;
          }
          .med{
            font-size: 13px;
          }
        }

        .prescription{
          margin-bottom: 6px;
        }


        .float_title{
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            color: black;
            font-weight: 600;
            text-transform: uppercase;
            transform: translateX(10px) translateY(-13px);
            font-size: 12px;
            padding: 5px 10px;
            border-left: 1px solid $BlueIcs;
            border-right: 1px solid $BlueIcs;
            background-color: $BlueIcsLight2;
            letter-spacing: 0.0688rem;
            @include breakpoint-down(medium){
              padding: 5px 5px;
            }
        }

        label{
          font-size: 13px;
          font-weight: 600;
          padding: 20px;
          padding-bottom: 0;
        }

        textArea{
          margin: 5px 20px;
          padding: 0;
          width: 90%;
          resize: none;
          border: 1px solid $BlackLight2;
        }
      }

      .button_classic{
        margin-right: 10px;
        width: 180px;
        align-self: flex-end;
      }
    }

    &_right{
      height: 100%;
      width: 30%;
      padding: 10px;
      min-width: 280px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      @include breakpoint-down(medium){
        width: 100%;
        min-width: fit-content;
      }

      .exit{
        width: 30px;
        align-self: flex-end;
        .button_classic{
          &:hover{
            color: $RedError;
          }
        }
        @include breakpoint-down(medium){
          display: flex;
          column-gap: 10px;
          width: 100%;
          padding-top: 10px;
          button.hide-for-desktop{
            width: 600%;
            &:hover{
              color: $LightBlack;
            }
          }
        }
      }
      @include breakpoint-down(medium){
        .seccions{
          width: 100%;
        }
      }
      

      .seccion{
        margin-top: 10px;
        width: 100%;
        min-width: 260px;
        border: 1px solid $BlueIcs;
        position: relative;
        padding: 20px 5px;
        box-sizing: border-box;
        @include breakpoint-down(medium){
          width: 100%;
          min-width: fit-content;
        }

        &:not(:first-child){
          margin-top: 25px;
        }

        .float_title{
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            color: black;
            font-weight: 600;
            text-transform: uppercase;
            transform: translateX(10px) translateY(-13px);
            font-size: 12px;
            padding: 5px 10px;
            border-left: 1px solid $BlueIcs;
            border-right: 1px solid $BlueIcs;
            background-color: $BlueIcsLight2;
            letter-spacing: 0.0688rem;
            @include breakpoint-down(medium){
              padding: 5px 7px;
            }
        }

        label{
          font-size: 13px;
          font-weight: 600;
          padding: 20px;
          padding-bottom: 0;
        }

        textArea{
          margin: 5px 20px;
          padding: 0;
          width: 90%;
          resize: none;
          border: 1px solid $BlackLight2;
        }
        p{
          padding: 0 5px;
          margin: 0;
          @include breakpoint-down(medium){
            width: 10px;
          }
        }
        input{
          width: 40px;
          height: 15px;
        }

        &_info{
          padding: 10px;
          display: flex;
          width: 100%;
          @include breakpoint-down(medium){
            flex-direction: column;
            box-sizing: border-box;
            width: 200px;
            margin: 0;
          }
          &_radio{
            display: grid;
            grid-template-areas: 
            "hours weeks"
            "days months";
            column-gap: 4px;         
            &_hours{
              display: flex;
              align-items: center;
              grid-area: hours;
            }
            &_weeks{
              display: flex;
              align-items: center;
              grid-area: weeks;
            }
            &_days{
              display: flex;
              align-items: center;
              grid-area: days;
            }
            &_months{
              display: flex;
              align-items: center;
              grid-area: months;
            }

            input{
              width: 11px;
            }
          }
        }

      }
    }
    
  }
}

.patient_entries{
  .addPrescription{
    height: calc(100% + 20px);
    margin-top: -21px;
  }
}

.search_component{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &_container{
    height: fit-content;
    max-height: 100%;
    width: 70%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-sizing: border-box;

    .button_classic{
      margin-top: 20px;
      width: 90%;
    }

    .tables{
      width: 90%;
      .classic_table:is(:first-child){
        padding-bottom: 20px;
      }
    }
    
    .exit{
      width: 90%;
      display: flex;
      justify-content: flex-end;
      .button_classic{
        width: 40px;
        margin: 0;
        &:hover{
          color: $RedError;
        }
      }
    }

    &_info{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      input{
        height: 25px;
        width: calc(90% - 5px);
        background-color: white;
        border: 1px solid $BlackLight2;
        margin: 10px;
        padding: 0 0 0 5px;
      }

      .table{
        height: 300px;
        width: 90%;
      }

    }
  }
}

.visits{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  &_container{
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid $navyBlue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &_table{
      height: calc(90% - 40px);
    }

    .new_appointment_button{
      margin: 10px;
      margin-right: 0;
      width: 100px;
      min-height: 40px;
      align-self: flex-end;
    }

  }
}

.addAppointment{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 10px;
  background-color: white;
  @include breakpoint-down(medium){
    padding-right: 0;
  }

  .button_classic{
    min-height: 40px;
  }
  p{
    margin: 0;
  }
  .select{
    padding: 10px 0;
  }
  .exit_appointment{
    align-self: flex-end;
    .button_classic{
      width: 40px;
    }
  }
  .search{
    height: fit-content;
    min-height: 25px;
    width: 90%;
    background-color: white;
    margin: 5px 0;
    border: 1px solid $BlackLight2;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .search_button, .delete_prescription_button{
      background-color: white;
      border: 0;
      cursor: pointer;
    }
    .med{
      font-size: 13px;
    }
  }
  label{
    font-weight: 500;
  }

  &_agenda{
    border: 1px solid $navyBlueLight;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  &_paciente{
    border: 1px solid $navyBlueLight;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    .search_container{
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      display: flex;
      padding: 5px 0;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 10px;
  
      &_name{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
  
      
  
      &_item{
        padding: 1px;
        width: 168px;
        
        display: flex;
        flex-direction: column;
  
        
        label{
          font-size: 14px;
          padding-bottom: 3px;
          font-weight: 600;
          padding-left: 7px;
        }
        input{
          box-sizing: border-box;
          width: 100%;
          padding: 5px;
          font-size: 12px;
          border: 1px solid #dadce0;
          border-radius: 3px;
          border-radius: 10px;
          padding-left: 15px;
          color: $LightBlack;
        }
        &_radio {
          display: flex;
          padding-bottom: 5px;
          padding-right: 10px;
          label{
            padding: 0;
            padding-left: 3px;
          }
          input{
            width: 15px;
          }
        }
      }
      
    }

    &_list{
      width: 100%;
      &_table{
        overflow-x: auto;
        width: 100%;
        table{
          width: 100%;
          border-spacing: 0;
          thead{
            display: table;
            width: 100%;
          }
          tbody{
            overflow-y: auto;
            max-height: 60px;
            display: block;
            tr {
              cursor: pointer;
              display: table;
              min-width: 100%;
              table-layout: fixed;
            }
          }
          tr.pair{
            background-color: $BlueIcsLight;
          }
          th{
            width: 20px;
            padding: 5px 10px;
            height: fit-content;
            background-color: $navyBlueLight;
            color: white;
          }
          td{
            border: 1px $navyBlueLight solid;
            text-align: center;
            padding: 3px 10px;
          }
          a{
            display:block;
            text-decoration:none;
            color: black;
          }
          button{
            background-color: white;
            cursor: pointer;
            border: 0;
            &:hover{
              color: $RedError;
            }
          }
        }
      }

    }
  }

  &_motivo{
    border: 1px solid $navyBlueLight;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    &_tipo{
      align-items: center;
      display: flex;
      gap: 15px;
      @include breakpoint-down(medium){
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        label{
          padding-top: 10px;
        }  
        .select{
          max-width: 100%;
          .select_title{
            padding: 10px 12px;
          }
          
        }
      }
    }
  }
  &_time{
    display: flex;
    align-items: center;
    &_item{
      padding-right: 20px;
      @include breakpoint-down(medium){
        padding-right: 0;
      }
    }
  }
}