.patient_ai{
  &_title{
    border-bottom: 1px solid $BlueIcs;
    margin: 0;
    padding: 10px 20px;
    font-weight: 500;
  }
  &_container{
    padding: 10px 20px;
    &_item{
      display: flex;
      align-items: center;
      .icon{
        height: 30px;
        width: 30px;
        color: $BlueIcs;
      }
      .title{
        padding: 0 10px 0 20px;
      }
    }
  }
  &_button{
    padding: 10px;
    padding-top: 0;
  }
}

.patient_ai_panel{
  background-color: $greyLight;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  &_container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_button{
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      border: 0;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
      .icon{
        height: 30px;
        width: 30px;
      }
    }
    .patient_ai_table{
      margin: 20px;
      width: fit-content;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      table-layout:fixed;

      th {
        border-radius: 5px;
        font-size: 20px;
        height: 30px;
      }

      td {
        border: 1px solid white;
        padding: 0;
        border-radius: 5px;
        font-size: 20px;
        height: 11px;
        background-color: $BlueIcsLight2;
        text-align: center;
      }

      .fixed.title{
        background-color: $navyBlue;
        color: white;
      }

      .fixed {
        position: sticky;
        background: white;
        width: 310px;
        left: 0;
        z-index: 1;
      }

      .dates {
        padding: 3px 10px;
        text-align: left;
        background-color: $BlueIcs;
      }

      .names{
        padding-left: 10px;
        text-align: left;
        background-color: $BlueIcs;
      }

      .currentDate{
        background-color: $navyBlue;
        color: white;
        padding: 3px 10px;
        text-align: center;
        position: sticky;
        right: 0;
        z-index: 1;
      }

      .fixed_values{
        position: sticky;
        right: 0;
        z-index: 1;
      }
    }
  }
}