.patient_ai{
  &_title{
    border-bottom: 1px solid $BlueIcs;
    margin: 0;
    padding: 10px 20px;
    font-weight: 500;
  }
  &_container{
    padding: 10px 20px;
    &_item{
      display: flex;
      align-items: center;
      .icon{
        height: 30px;
        width: 30px;
        color: $navyBlueLight;
      }
      .title{
        padding: 0 10px 0 20px;
      }
    }
  }
  &_button{
    padding: 10px;
    padding-top: 0;
  }
}

.patient_ai_panel{
  background-color: $BlueIcsLight2;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  &_container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_button{
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      border: 0;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
      .icon{
        height: 30px;
        width: 30px;
      }
    }
    .patient_ai_table{
      margin: 20px;
      display: grid;
      overflow-x: auto;

      &_row{
        display: flex;
      }

      .values{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 3px 10px;
        text-align: center;
        width: 130px;
        background-color: $BlueIcsLight2;
        border-radius: 10px;
        border: 1px solid white;
        min-height: 35px;
      }

      .fixed.title{
        display: flex;
        align-items: center;
        background-color: $navyBlue;
        width: 300px;
        color: white;
        left: 0;
        z-index: 1;
        position: sticky; 
        border-radius: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        min-height: 35px;
      }

      .fixed_names {
        display: flex;
        align-items: center;
        background-color: $BlueIcs;
        position: sticky; 
        width: 300px;
        left: 0;
        z-index: 1;
        border-radius: 10px;
        border: 1px solid white;
        padding-left: 20px;
        box-sizing: border-box;
        min-height: 35px;
      }

      .dates {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 3px 10px;
        text-align: center;
        width: 130px;
        background-color: $BlueIcs;
        border-radius: 10px;
        border: 1px solid white;
        min-height: 35px;
      }

      .currentDate{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: $navyBlue;
        color: white;
        padding: 3px 10px;
        text-align: center;
        position: sticky;
        width: 180px;
        right: 0;
        z-index: 1;
        border-radius: 10px;
        min-height: 35px;
      }

      .fixed_values{
        position: sticky;
        right: 0;
        width: 180px;
        z-index: 1;
        background-color: $BlueIcsLight2;
        border-radius: 10px;
        border: 1px solid white;
        text-align: center;
        min-height: 35px;
      }
    }
  }
}