.patient_info{
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  h3{
    text-align: center;
  }

  .icon{
    padding: 0 5px;
  }
  p{
    margin: 0;
    width: fit-content;
  }
  &_name{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
  }

  &_line{
    display:flex;
    justify-content: left;
    align-self: center;
    max-height: fit-content;
    transition: all 0.4s;
    
    .title{
      padding-bottom: 4px;
      font-weight: 600;
      color: rgba(74,85,104, 1);
      font-size: 14px;
    }
    .value{
      padding-bottom: 4px;
      font-size: 14px;
    }

    &_button{
      background-color: white;
      border: 0;
      padding-top: 4px;
      align-self: flex-start;
      transition: all 0.5s ease-in-out;

      &.active{
        transform: rotateX(180deg);
      }
    }
    
  }
  &_extra{
    color: black;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 20px;
    visibility: hidden;
    &.active{
      visibility: visible;
      max-height: 200px;
      opacity: 1;
    }
    .title{
      padding: 0 5px 4px 20px;
    }
    
  }
  
}