.settings{
  padding: 60px;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $BlueIcsLight;
  display: flex;
  flex-direction: column;
  &_container{
    margin: 10px 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    &_item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;  
      background-color: $BlueIcsLight2;
      border: 1px solid white;
      border-bottom: 0;
      &:is(:first-child){
        border-radius: 6px 6px 0 0;
      }

      
    }
    
  }

  &_submit{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 50px;  
    background-color: $BlueIcsLight2;
    border: 1px solid white;
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid white;

    
  } 


  .logout, &_submit_button{
    width: 20%;
      height: 40px;
      border-radius: 5px;
      border: $navyBlue solid 1px;
      background-color: $navyBlueLight;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    
      &_message{
        color: white;
        margin: 0;
        font-weight: 700;
      }
  }

  
}


