.patient_entries{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  &_container{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    .navbar_entries{
      position: absolute;
      display: flex;
      top: -30px;
      left: 0;
      .inactive{
        border: 1px solid $BlueIcs;
        &:not(:first-child){
          border-left: 0;
        }
        margin-top: 5px;
      }
    }

    &_addEntry{
      height: 100%;
      width: 100%;
      overflow-y: auto;
      border: 1px solid $navyBlue;
      background-color: $BlueIcsLight2;
      
      .entryForm{
        display: flex;
        flex-direction: column;

        label{
          font-weight: 600;
          padding: 20px;
          padding-bottom: 0;
        }

        textArea{
          margin: 20px;
          width: 80%;
        }
      }
    }

    &_list{
      height: 100%;
      overflow-y: scroll;
      width: 70%;
      background-color: $greyLight;
      &::-webkit-scrollbar{
        width: 8px;
        background: white;
        border-radius: 0 8px 8px 0;
      }
      &::-webkit-scrollbar-thumb{
        background: $navyBlue;
        border-radius: 0 8px 8px 0;
      }
      .entry{
        background-color: $BlueIcsLight2;
        cursor: pointer;
        &_info{
          background-color: $navyBlueLight;
          color: white;padding: 4px;
          padding-left: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 10px;
          cursor:auto;
          
          .button_classic{
            visibility: hidden;
            width: 70px;
            height: 25px;
            &.visible{
              visibility: visible;
            }
          }
        }

        .note{
          padding: 5px 20px;
          &_diagnosis{
            padding: 3px;
            font-weight: 600;
            font-size: 17px;
          }
  
          &_row{
            padding: 2px;
            display: flex;
            &_letter{
              align-self: center;
              font-weight: 600;
              color: $navyBlue;
            }
            &_content{
              padding-left: 10px;
            }
          }
        }
        

        
      }
    }

    &_diagnosis{
      width: 30%;
      border: 1px solid $navyBlue;
      display: flex;
      flex-direction: column;
      padding: 10px;
      box-sizing: border-box;
      height: 100%;
      min-width: 160px;

      &_options{
        display: flex;
        justify-content: left;
        align-items: flex-end;
      }
      &_list{
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid $navyBlueLight;
        min-width: 120px;
        overflow-y: auto;

        .diagnosis_item{
          display: flex;
          padding: 3px;
          column-gap: 8px;
          &.active{
            padding-left: 10px;
            background-color: rgb(255, 234, 0);
            border-radius: 10px;
          }
          cursor: pointer;
          &_color{
            height: 13px;
            width: 13px;
            align-self: center;

            &.leve{
              background-color: rgb(255, 194, 72);
            }
            &.medio{
              background-color: $RedError;
            }
            &.grave{
              background-color: purple;
            }
          }
        }
      }
    }
  }
  
}