body, html {
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.select {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 0;
}
.select_title {
  padding: 10px 24px;
  cursor: pointer;
  background: rgb(126, 199, 255);
  border-radius: 8px;
  color: black;
  position: relative;
  order: 0;
}
.select_title_arrow.inactive {
  background-image: url("../images/arrow-down-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 10px;
  transition: all 0.4s;
}
.select_title_arrow.active {
  transform: rotateX(180deg);
}
.select_container {
  background-color: rgb(126, 199, 255);
  color: black;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}
.select_container.active {
  border-top: 1px solid white;
  max-height: 150px;
  opacity: 1;
  overflow-y: scroll;
}
.select_container::-webkit-scrollbar {
  width: 8px;
  background: rgb(126, 199, 255);
  border-radius: 0 8px 8px 0;
}
.select_container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0 8px 8px 0;
}
.select_container button {
  text-align: left;
  font-size: 14px;
  padding: 15px 40px;
  background: rgb(126, 199, 255);
  border-radius: 8px;
  color: black;
  height: 100%;
  width: 100%;
  border: 0;
  cursor: pointer;
}
.select_container button:hover {
  background: rgb(203, 232, 255);
}

.error {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: rgb(182, 0, 0) solid 1px;
  background-color: rgb(255, 188, 188);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.error_message {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: rgb(182, 0, 0);
}

.correct {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: rgb(63, 130, 43) solid 1px;
  background-color: rgb(150, 219, 129);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.correct_message {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: rgb(63, 130, 43);
}

.pageNotFound {
  padding: 100px;
}
.pageNotFound h1, .pageNotFound h2 {
  width: 100%;
  text-align: center;
}

.patient {
  width: 100%;
  height: calc(100vh - 3.125rem);
}
.patient_container {
  height: 100%;
  display: grid;
  grid-template-areas: "info entries entries" "visits entries entries";
}
.patient_container_info {
  border: 1px solid red;
  grid-area: info;
}
.patient_container_visits {
  border: 1px solid orange;
  grid-area: visits;
}
.patient_container_entries {
  border: 1px solid green;
  grid-area: entries;
}

.navbar {
  height: 3.125rem;
  width: 100%;
  background-color: rgb(126, 199, 255);
  display: flex;
  align-items: center;
}
.navbar_container {
  padding: 0 2.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.navbar_container_items {
  display: flex;
  justify-content: right;
}
.navbar_container_item {
  padding: 0 0.1875rem;
  padding-bottom: 0.25rem;
  margin: 0;
  font-weight: 500;
  font-size: 0.9375rem;
  color: rgb(68, 68, 68);
}
.navbar_container .button {
  padding: 0 0.625rem;
  margin: 0;
  color: white;
  height: 1.5625rem;
  width: 1.5625rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(126deg, rgb(213, 255, 255) 25%, rgb(126, 199, 255) 100%);
}
.login_container {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.login_container h3 {
  text-align: center;
  color: black;
}
.login_container_input {
  position: relative;
  width: 80%;
}
.login_container_input input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  border: 1px solid rgb(126, 199, 255);
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
}
.login_container_input span {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  transition: 0.5s;
}
.login_container_input input:valid ~ span, .login_container_input input:focus ~ span {
  color: #0979b0;
  transform: translateX(10px) translateY(-7px);
  font-size: 10px;
  padding: 0 10px;
  background-color: white;
  border-left: 1px solid rgb(126, 199, 255);
  border-right: 1px solid rgb(126, 199, 255);
  letter-spacing: 0.1em;
}
.login_container_button {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.login_container_button:not(:last-child) {
  padding: 0;
  padding-top: 1px;
}
.login_container_button button {
  width: 80%;
  height: 50px;
  font-size: 14px;
  background: rgb(126, 199, 255);
  border-radius: 25px;
  border: 0;
  color: black;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: background 0.5s ease-in-out;
}
.login_container_button button:hover {
  background: rgb(166, 217, 255);
}

.settings {
  padding: 3.75rem;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(203, 232, 255);
  display: flex;
  flex-direction: column;
}
.settings_container {
  margin: 0.625rem 0;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
}
.settings_container_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.125rem;
  background-color: rgb(166, 217, 255);
  border: 1px solid white;
  border-bottom: 0;
}
.settings_container_item:is(:first-child) {
  border-radius: 0.375rem 0.375rem 0 0;
}
.settings_submit {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 3.125rem;
  background-color: rgb(166, 217, 255);
  border: 1px solid white;
  border-radius: 0 0 0.375rem 0.375rem;
  border-bottom: 0.0625rem solid white;
}
.settings_submit:has(.correct), .settings_submit:has(.error) {
  justify-content: space-between;
}
.settings_submit .correct, .settings_submit .error {
  margin: 0;
  margin-right: 1.25rem;
}
.settings .logout, .settings_submit_button {
  width: 9.375rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  border: #004173 solid 1px;
  background-color: #0979b0;
  margin: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.settings .logout_message, .settings_submit_button_message {
  color: white;
  margin: 0;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */