.home {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: $BlueIcsLight2;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  @include breakpoint-down(medium){
    margin-top: 50px;
    height: fit-content;
    min-height: calc(100vh - 50px);
  }
  .addAppointment{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $navyBlueLight;
  }
  &_container{
    display: flex;
    width: 100%;
    min-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    @include breakpoint-down(medium){
      flex-direction: column;
      min-width: 0;
      align-items: center;
      height: 100%;
    }

    &_left{
      height: 100%;
      width: 240px;
      border-right: 1px solid $BlueIcs;
      padding-top: 10px;
      box-sizing: border-box;
      
      @include breakpoint-up(medium){
        overflow-y: auto;
      }
      @include breakpoint-down(medium){
        border: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }
      &_search{
        margin: 10px;
        margin-top: 18px;
        min-width: 200px;
        border: 1px solid $BlueIcs;
        position: relative;
        @include breakpoint-down(medium){
          width: 90%;
        }
        span{
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          color: $LightBlack;
          text-transform: uppercase;
          transform: translateX(10px) translateY(-13px);
          font-size: 12px;
          padding: 5px 10px;
          background-color: white;
          border: 1px solid $BlueIcs;
          letter-spacing: 0.0688rem;
        }

        form{
          height: 100%;
        }
        .search_container{
          box-sizing: border-box;
          padding: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $BlueIcsLight2;
          padding-bottom: 10px;

          

          &_item{
            padding: 1px;
            
            display: flex;
            flex-direction: column;

            
            label{
              font-size: 14px;
              padding-bottom: 3px;
              font-weight: 600;
              padding-left: 7px;
            }
            input{
              box-sizing: border-box;
              width: 100%;
              padding: 5px;
              font-size: 12px;
              border: 1px solid #dadce0;
              border-radius: 3px;
              border-radius: 10px;
              padding-left: 15px;
              color: $LightBlack;
            }
            &_radio {
              display: flex;
              padding-bottom: 5px;
              padding-right: 10px;
              label{
                padding: 0;
                padding-left: 3px;
              }
              input{
                width: 15px;
              }
            }
          }
          &_button{
            padding-top: 10px;
            align-self: center;
            width: 80%;
            #button_submit_search{
              background-color: $BlueIcs;
              &:hover{
                background-color: $BlueIcsLight;
              }
            }
          }
          
        }
      }
      &_schedule{
        margin: 10px;
        min-width: 200px;
        border: 1px solid $BlueIcs;
        position: relative;
        @include breakpoint-down(medium){
          width: 90%;
        }
        &_title{
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          color: $LightBlack;
          text-transform: uppercase;
          transform: translateX(10px) translateY(-13px);
          font-size: 12px;
          padding: 5px 10px;
          background-color: white;
          border: 1px solid $BlueIcs;
          letter-spacing: 0.0688rem;
        }
        &_container{
          box-sizing: border-box;
          padding: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $BlueIcsLight2;
          padding-bottom: 10px;
          .DatePicker{
            margin-top: 5px;
            background-color: white;
          }
          #button_submit_search{
            background-color: $BlueIcs;
            margin-top: 10px;
            &:hover{
              background-color: $BlueIcsLight;
            }
          }
        }
      }
    }
    &_right{
      flex: 1;
      height: 100%;
      width: 80%;
      min-width: 220px;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint-up(medium){
        overflow-y: auto;
      }
      @include breakpoint-down(medium){
        height: 400px;
        padding: 40px 0;
      }
      .classic_table {
        box-sizing: border-box;
        height: 78%;
        @include breakpoint-down(medium){
          height: fit-content;
        }
      }

      .schedule{
        height: 100%;
        box-sizing: border-box;
        @include breakpoint-down(medium){
          height: fit-content;
        }
        
        &_infoPatient{
          height: 22%;
          max-height: 105px;
          box-sizing: border-box;
          border: 1px solid $navyBlueLight;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          @include breakpoint-up(medium){
            overflow-y: auto;
          }
          @include breakpoint-down(medium){
            margin-top: 30px;
            height: fit-content;
            max-height: max-content;
          }
          &_row{
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            @include breakpoint-down(medium){
              flex-direction: column;
              align-items: center;
            }

            &_items{
              display: flex;
              align-items: center;
              @include breakpoint-down(medium){
              flex-direction: column;
            }
            }
            p{
              margin: 0;
              padding: 3px;
              padding-right: 6px;
            }
            label{
              font-weight: 600;
              padding-right: 6px;
            }
            .button_classic{
              width: 150px;
            }
            a{
              display:block;
              text-decoration:none;
              color: black;
            }
          }
        }
      }
    }
  }
}