.navbar{
  height: 3.125rem;
  width: 100vw;
  background-color: $navyBlueLight;
  display: flex;
  align-items: center;
  &_container{
    padding: 0 2.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &_items{
      display: flex;
      justify-content: right;
    }

    &_item{
      padding: 0 0.1875rem;
      padding-bottom: 0.25rem;
      margin: 0;
      font-weight: 500;
      font-size: 0.9375rem;
      color: white;
    }

    &_links{
      display: flex;
      align-items: center;
      .goals{
        position: relative;
        margin-left: 50px;
        padding: 0 10px;
        ul{
          display: none;
          position: absolute;
          top: 52px;
          left: 0px;
          padding: 0;
          li{
            padding: 5px 10px;
            margin: 0;
            width: 115px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          background-color: $navyBlueLight;
          z-index: 5;
          list-style: none;
          margin: 0;
          text-align: center;
          a{
            color: white;
            text-decoration: none;
          }
          &:hover{
            li.active{
              background-color: $navyBlueLight2;
            }
          }
        }
        &:hover{
          background-color: $navyBlueLight2;
          ul{
            display:block;
          }
        }
      }
      
      .goals_button{
        display: flex;
        align-items: center;
        text-decoration:none;
        color: white;
        
        .button_chart{
          padding: 0 0.625rem;
          margin: 0;
          color: white;
          height: 15px;
          width: 15px;
          align-self: center;
          &:hover{
            color: $BlueIcsLight2;
          }
        }
        
      }
    }

    .button{
      padding: 0 0.625rem;
      margin: 0;
      color: white;
      height: 25px;
      width: 25px;
      &:hover{
        color: $BlueIcsLight2;
      }

      
    }
    
  }
  

}