.navbar{
  height: 3.125rem;
  background-color: $navyBlueLight;
  display: flex;
  align-items: center;
  @include breakpoint-down(medium){
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
  }
  &_container{
    padding: 0 2.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    .navbar_mobile{
      @include breakpoint-up(medium){
        display: none;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .header-toggle > span {
        display: block;
        height: 3px;
        width: 26px;
        background-color: white;
        transition: all 300ms ease-in-out;
        transform-origin: 4.5px 1.5px;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
      &.open{
        .overlay{
            visibility: hidden;
        }
        > span{
            &:not(:last-child){
                margin-bottom: 0px;
            }
        }
        
        span:nth-child(1) {
            transform: rotate(45deg);
            
          }
          
        span:nth-child(2) {
            width: 0%;
            opacity: 0;
          }
          
        span:nth-child(3) {
            transform: rotate(-45deg);
          }
      }
    }
    &_items{
      @include breakpoint-up(medium){
        display: flex;
        justify-content: right;
      }
      
    }

    &_item{
      padding: 0 0.1875rem;
      padding-bottom: 0.25rem;
      margin: 0;
      font-weight: 500;
      font-size: 0.9375rem;
      color: white;
    }

    &_links{
      @include breakpoint-up(medium){
        display: flex;
        align-items: center;
      }
      
      .goals{
        position: relative;
        margin-left: 50px;
        padding: 0 10px;
        ul{
          display: none;
          position: absolute;
          top: 52px;
          left: 0px;
          padding: 0;
          li{
            padding: 5px 10px;
            margin: 0;
            width: 115px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          background-color: $navyBlueLight;
          z-index: 5;
          list-style: none;
          margin: 0;
          text-align: center;
          a{
            color: white;
            text-decoration: none;
          }
          &:hover{
            li.active{
              background-color: $navyBlueLight2;
            }
          }
        }
        &:hover{
          background-color: $navyBlueLight2;
          ul{
            display:block;
          }
        }
      }
      
      .goals_button{
        display: flex;
        align-items: center;
        text-decoration:none;
        color: white;
        
        .button_chart{
          padding: 0 0.625rem;
          margin: 0;
          color: white;
          height: 15px;
          width: 15px;
          align-self: center;
          &:hover{
            color: $BlueIcsLight2;
          }
        }
        
      }
    }

    .button{
      padding: 0 0.625rem;
      margin: 0;
      color: white;
      height: 25px;
      width: 25px;
      &:hover{
        color: $BlueIcsLight2;
      }

      
    }
    
  }

  

}