body, html{
  margin: 0;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}




//select

.select{
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 0;

  &_title{
    padding: 10px 24px;
    cursor: pointer;
    background: $BlueIcs;
    border-radius: 8px;
    color: black;
    position: relative;
    order: 0;
    &_arrow{
      background-image: url("../images/arrow-down-solid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
      right: 20px;
      top: 10px;
      transition: all 0.4s;
    }
    &_arrow.active{
      transform: rotateX(180deg);
    }
    &_arrow.no_options{
      background-image: url("");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
      right: 20px;
      top: 10px;
    }
    
  }

  &_container{
    background-color: $BlueIcs;
    color: black;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    &.active{
      border-top: 1px solid white;
      max-height: 150px;
      opacity: 1;
      overflow-y: scroll;
    }

    

    &::-webkit-scrollbar{
      width: 8px;
      background: $BlueIcs;
      border-radius: 0 8px 8px 0;
    }
    &::-webkit-scrollbar-thumb{
      background: white;
      border-radius: 0 8px 8px 0;
    }


    button{
      text-align: left;
      font-size: 14px;
      padding: 15px 40px;
      background: $BlueIcs;
      border-radius: 8px;
      color: black;
      height: 100%;
      width: 100%;
      border: 0;
      cursor: pointer;

      &:hover{
        background: $BlueIcsLight2;
      }
    }
  }

  
}


//errors

.error{
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  border: $RedError solid 1px;
  background-color: $RedErrorLight;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  &_message{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: $RedError;
  }

}

.correct{
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  border: $GreenCorrect solid 1px;
  background-color: $GreenCorrectLight;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  &_message{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: $GreenCorrect;
  }

}

.pageNotFound{
  padding: 100px;
  h1, h2{
    width: 100%;
    text-align: center;
  }
}
