body, html{
  margin: 0;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
  background-color: $BlueIcsLight2;
}




//select

.select{
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: fit-content;
  padding: 20px 0;

  &_title{
    padding: 10px 24px;
    cursor: pointer;
    background: $BlueIcs;
    border-radius: 8px;
    color: black;
    position: relative;
    order: 0;
    &_arrow.inactive{
      background-image: url("../images/arrow-down-solid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
      right: 20px;
      top: 10px;
      transition: all 0.4s;
    }
    &_arrow.active{
      background-image: url("../images/arrow-down-solid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
      right: 20px;
      top: 10px;
      transition: all 0.4s;
      transform: rotateX(180deg);
    }
    
  }

  &_container{
    background-color: $BlueIcs;
    color: black;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    &.active{
      border-top: 1px solid white;
      max-height: 150px;
      opacity: 1;
      overflow-y: auto;
    }

    

    &::-webkit-scrollbar{
      width: 8px;
      background: $BlueIcs;
      border-radius: 0 8px 8px 0;
    }
    &::-webkit-scrollbar-thumb{
      background: white;
      border-radius: 0 8px 8px 0;
    }


    button{
      text-align: left;
      font-size: 14px;
      padding: 15px 40px;
      background: $BlueIcs;
      border-radius: 8px;
      color: black;
      height: 100%;
      width: 100%;
      border: 0;
      cursor: pointer;

      &:hover{
        background: $BlueIcsLight2;
      }
    }
  }

  
}


//errors

.error{
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  border: $RedError solid 1px;
  background-color: $RedErrorLight;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  &_message{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: $RedError;
  }

}

.correct{
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  border: $GreenCorrect solid 1px;
  background-color: $GreenCorrectLight;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  &_message{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: $GreenCorrect;
  }

}

.pageNotFound{
  padding: 100px;
  h1, h2{
    width: 100%;
    text-align: center;
  }
}

//buttons
.button_classic {
  width: 100%;
  height: 35px;
  border-radius: 0.3125rem;
  border: $navyBlueLight solid 1px;
  background-color: $BlueIcs;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: $LightBlack;
  &:hover{
    background-color: $BlueIcsLight;
  }
}

.button_plus {
  width: 100%;
  height: 25px;
  width: 25px;
  border-radius: 0.3125rem;
  border: $BlueIcs solid 1px;
  background-color: $BlueIcsLight2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: $LightBlack;
  &:hover{
    background-color: rgb(166, 217, 255);
  }
}

.button_tag.active {
  padding: 10px;
  width: fit-content;
  height: 30px;
  background-color: $navyBlueLight;
  color: white;
  display: flex;
  border: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.button_tag.inactive {
  width: fit-content;
  height: 25px;
  border: $BlueIcs solid 1px;
  background-color: $BlueIcsLight2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: $LightBlack;
  &:hover{
    background-color: $BlueIcs;
  }
}

.excelButton{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(19, 106, 0, 0.333) solid 1px;
  background-color: rgba(26, 144, 0, 0.333);
  border-radius: 5px;
  cursor: pointer;
  .icon{
    width: 18px;
    height: 18px;
    color: #188038;
  }
}

.pdfButton{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(134, 0, 0, 0.333) solid 1px;
  background-color: rgba(226, 0, 0, 0.333);
  border-radius: 5px;
  cursor: pointer;
  .icon{
    width: 18px;
    height: 18px;
    color: #ed1414;
  }
}


// crossbar

.crossbar{
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: $BlackLight2;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background: $navyBlue;
    border-radius: 8px;
  }
  
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background: $BlackLight2;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  background: $navyBlue;
  border-radius: 8px;
}

// recs

.recs{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  padding: 10px 20px;
  column-gap: 5px;

  .rec{
    padding: 7px;
    padding: 5px 15px;
    background-color: rgb(255, 212, 148);
    border: 1px rgb(255, 177, 60) solid;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    width: fit-content;
    &.selected{
      background-color: rgb(255, 128, 0);
    }
  }
}

// input range

.wrapper{
  position: relative;
  width: 180px;
  background-color: white;
  padding: 10px 0;
  .values{
    background-color: $navyBlueLight;
    width: fit-content;
    position: relative;
    margin: auto;
    padding: 4px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: white;

    &::before{
      content: "";
      position: absolute;
      border-top: 10px solid $navyBlueLight;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      margin: auto;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 0;
      width: 0;
    }
  }
  &_container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1p solid black;
    margin-top: 30px;
    input{
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      outline: none;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      background-color: transparent;
      pointer-events: none;
    }
    input::-webkit-slider-runnable-track{
      -webkit-appearance: none;
      appearance: none;
      height: 5px;
    }
    input::-moz-range-track{
      -moz-appearance: none;
      appearance: none;
      height: 5px;
    }
    input::-ms-track{
      appearance: none;
      height: 5px;
    }
    input::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      height: 1.075rem;
      width: 1.075rem;
      background-color: $navyBlueLight;
      cursor: pointer;
      border-radius: 10px;
      pointer-events: auto;
      margin-top: -9px;
    }
    input::-moz-range-thumb{
      -webkit-appearance: none;
      appearance: none;
      height: 1.075rem;
      width: 1.075rem;
      cursor: pointer;
      border-radius: 50%;
      background-color: $navyBlueLight;
    }
    input::-ms-thumb{
      -webkit-appearance: none;
      appearance: none;
      height: 1.075rem;
      width: 1.075rem;
      cursor: pointer;
      border-radius: 50%;
      background-color: $navyBlueLight;
    }
    input:active::-webkit-slider-thumb{
      background-color: white;
      border: 3px solid $navyBlueLight;
    }
    .slider-track{
      width: 100%;
      height: 5px;
      background-color: #d5d5d5;
      position: absolute;
      margin: auto;
      top: -3px;
      bottom: 0;
      border-radius: 5px;
    }
  }
}

// calendar 
.DatePicker{
  z-index: 3;
}
.react-calendar{
  position: fixed;
  height: fit-content;
  width: 280px;
}

input, textarea{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

//tables
.classic_table{
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  font-size: 0.9375em;
  overflow-y: auto;
  table{
    width: 100%;
    border-spacing: 0;
    tbody{
      tr {
        cursor: pointer;
      }
    }
    tr, thead{
      width: 100%;
    }
    td, th {
      padding: 3px;
      width: 25%;
      &.alert{
        color: $RedError;
      }
    }
    .small{
      width: 10%;
    }
    tr.pair{
      background-color: $BlueIcsLight;
    }
    tbody tr{
      &:hover{
        background-color: $BlueIcsLight;
        button {
          background-color: $BlueIcsLight;
        }
      }
    }
    thead tr{
      background-color: $navyBlueLight;
    }
    th{
      background-color: $navyBlueLight;
      border: 1px $navyBlueLight solid;
      color: white;
      position: sticky;
      top: -1px;
      .row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 3px 10px;
        p{
          margin: 0;
        }
      }
    }
    td{
      border: 1px $navyBlueLight solid;
      text-align: center;
    }
    a{
      text-decoration:none;
      color: black;
    }
    button:not(.button_plus){
      background-color: white;
      cursor: pointer;
      border: 0;
      &:hover{
        color: $RedError;
      }
    }
  }
}

.classic_table.no_selected_rows{
  tbody tr{
    cursor: auto;
    &:hover{
      background-color: white;
    }
  }
}

// float span

.float_title{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateX(10px) translateY(-13px);
  font-size: 13px;
  padding: 5px 10px;
  border-left: 1px solid $BlueIcs;
  border-right: 1px solid $BlueIcs;
  background-color: $BlueIcsLight2;
  letter-spacing: 0.0688rem;
}

//overlay

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  &_box{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon{
      width: 80px;
      height: 80px;
      color: $RedError;
    }
    &_buttons{
      display: flex;
      column-gap: 20px;
      button{
        width: 80px;
        &.cancel{
          background-color: $RedErrorLight;
          border: 1px solid $RedError;
          &:hover{
            background-color: $RedErrorLight2;
          }
        }
      }
    }
  }
}