$BlueIcs: rgb(126, 199, 255);
$BlueIcsLight: rgb(166, 217, 255);
$BlueIcsLight2: rgb(197, 230, 255);
$LightBlack: rgb(68, 68, 68);

$RedError: rgb(182, 0, 0);
$RedErrorLight: rgb(255, 188, 188);

$navyBlue: #004173;
$navyBlueLight: #0979b0;