$BlueIcs: rgb(126, 199, 255);
$BlueIcsLight: rgb(166, 217, 255);
$BlueIcsLight2: rgb(203, 232, 255);
$LightBlack: rgb(68, 68, 68);

$RedError: rgb(182, 0, 0);
$RedErrorLight: rgb(255, 188, 188);

$GreenCorrect: rgb(63, 130, 43);
$GreenCorrectLight: rgb(150, 219, 129);

$navyBlue: #004173;
$navyBlueLight: #0979b0;

$greyLight: rgba(247, 250,252, 1);